<p id="notice"><%= notice %></p>

<h1>Google Maps</h1>

<table style="font-size:12px">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Location</th>
      <th>Number of floors</th>
      <th>Client name</th>
      <th>Number of batteries</th>
      <th>Number of columns</th>
      <th>Number of elevators</th>
      <th>Full name of technical contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @google_maps.each do |google_map| %>
      <tr>
        <td><%= google_map.latitude %></td>
        <td><%= google_map.longitude %></td>
        <td><%= google_map.location %></td>
        <td><%= google_map.number_of_floors %></td>
        <td><%= google_map.client_name %></td>
        <td><%= google_map.number_of_batteries %></td>
        <td><%= google_map.number_of_columns %></td>
        <td><%= google_map.number_of_elevators %></td>
        <td><%= google_map.full_name_technical_contact %></td>
        <td><%= link_to 'Show', google_map %></td>
        <td><%= link_to 'Edit', edit_google_map_path(google_map) %></td>
        <td><%= link_to 'Destroy', google_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
